@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coco";
  src: url("../src/assets/fonts/CocoBiker\ Regular\ Trial.ttf");
}
@font-face {
  font-family: "Gears";
  src: url("../src/assets/fonts/GearsOfPeace.ttf");
}

img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: rgb(20, 184, 166);
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.root {
  height: 100vh;
}
.title-post:hover {
  animation: 2s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
