@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coco";
  src: url("../src/assets/fonts/CocoBiker\ Regular\ Trial.ttf");
}
@font-face {
  font-family: "Gears";
  src: url("../src/assets/fonts/GearsOfPeace.ttf");
}
html{
  background-image: url('../src/assets/img/table-back.png');
  background-size: auto;
  background-position: 100%;
  background-repeat: no-repeat;
}
.nav-bar{
  background-color: rgb(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding-top: 2vmin;
}
.text-white{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}
.footer{
  display: block;
  margin-top: 5vmin;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 99%;
  background-color: rgb(41, 0, 94);
}
.p-3{
  display: block;
  margin-top: 30vmin;
  margin-left: auto;
  margin-right: auto;
}
.m-auto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vmin;
  color: white;
  width: 100%;
  background: linear-gradient(60deg, rgb(66, 0, 128, 0.5), rgb(0, 0, 255, 0.5));
  border-radius: 10px;
  padding-top: 1vmin;
  padding-bottom: 1vmin;

}
